body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    
}
.header{
    background-color: black;
    display: flex;
    align-items:center;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    height: 100px;
    z-index: 2;
    
    margin-top: -8px;
    border-bottom: 3px red solid;
}
.header>:last-child{
    margin-right: 12px;
}
.header>a>div{
    color: rgb(221, 0, 0);
    font-weight: bold;
    text-shadow: 1.5px 1.5px white;
    font-size: 1.5em;
    margin-left: 10px;
    height: 30px;
    border: 3px black solid;
    padding-bottom: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}

.header>a>div:hover{
    border:3px red solid;
    box-shadow: 0 0 12px 5px red;
    border-radius: 10px;
    animation-name: shadowAnimt;
    animation-duration: 0.8s;
}

.imgAftrHead>img{
    width: 1400px;
    height: 650px;
    margin-left: -5px;
    opacity: 0.5;
    position: relative;
}

#name{
    position: absolute;
    font-size: 70px;
    top: 30%;
    left:10%;
    font-family: 'Roboto', sans-serif;
    /* animation-name: nameAnimt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes shadowAnimt{
    from{ box-shadow: 0 0 12px 5px black;}
    to{ box-shadow: 0 0 12px 5px red;}
}
/* @keyframes nameAnimt{
    from{transform:scale(1,1)}
    to{transform:scale(1.5,1.5)}
} */
#myImg{
    position: absolute;
    top: 25%;
    left:60%;
    
}
#myImg>img{
    border: 1px blue solid;
}#social{
    color:white;
    position: absolute;
    top: 85%;
    left:60%;
    width: 400px;
    opacity:0;
    display: flex;
    justify-content: space-around;
   
}
#social>a>i{
    font-size: 50px;
}
#myImg:hover + #social{
    animation-name: displaySocial;
    animation-duration:  1s;
    animation-fill-mode: forwards;
}
#social:hover{
    animation-name: displaySocial;
    animation-duration:  1s;
    animation-fill-mode: forwards;
}
@keyframes displaySocial{
    from{opacity: 0;}
    to{opacity: 1;}
}

#AbutMe{
    position: absolute;
    top:50%;
    left:-35%;
    padding:20px;
    width:400px;
    /* border:5px rgb(183, 0, 255) solid ; */
    border-radius: 20px;
    color:rgb(183, 0, 255);
    animation-name: AbutMeANimt;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    font-size: 20px;
    font-family: 'Lobster',cursive;
    line-height: 35px;
}
@keyframes AbutMeANimt
{
    0%{left:-35%}
    65%{left:25%}
    100%{left:10%}
}
.topic{
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 241, 221);
    /* border-bottom:5px crimson solid; */       
    text-shadow: 1.5px 1.5px white;
    padding-top: 5px;
    margin-left: 20px;
}
#skills{
    background-image: url(img/skillBack);
    background-size: 1400px;
}
#skillsImg{
    display: grid;
    grid-template-columns:200px 200px 200px 20px 200px 200px 200px 60px;
    grid-template-rows: 220px 200px;
    grid-row-gap:1px;
    grid-column-gap:0.5px;
}
#c{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#html{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
#java{
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-end: 3;
    grid-row-start: 1;
}
#sql{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
#css{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    
}
#cpp{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
}

#edu{
    background-image: url(img/eduBack.jpg);
    height: 650px;
}
#eduhead{
    color:rgb(0, 162, 255);
}
#edubody{
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    font-family:'Baloo Thambi 2', cursive;
    
    font-size: 20px;
    color:rgb(255, 0, 179);

}
ul{
    list-style:lower-greek;
}
#edubody>div:nth-child(odd){
    width: 20%;
}
#edubody>.line{
    width:0.3%;
    height: 300px;
    background-color: red;
    
}
.edutitle{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
#proj{
    background-image: url(img/projectBack.jpg);
    height: 650px;
    
}
#projhead{
    color:rgb(255, 0, 0);
    font-size: 30px;
}
dd{
    font-weight: bold;
    font-size: 20px;
    line-height: initial;
    padding-bottom: initial;
}
#projbdy>ul{
    font-weight: bolder;
    list-style-type: square;
    color:rgb(66, 0, 104);
    font-size: 30px;
}
#projbdy>ul>li{
    padding-bottom: 15px;
}
#projviewer{
    position: absolute;
    border: 2px red solid;
    width: 1px;
    height: 1px;
    left: 70%;
    overflow: hidden;
}
#dsc1:focus +#projviewer {
    animation-name: desciptionAnimt;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}
@keyframes desciptionAnimt{

    form{transform: scale(1,1);}
    to{transform: scale(100,100);}
}
#Copyryt{
    font-size: 20px;
    text-align: center;
    height: 40px;
    margin-bottom: -10px;
}
#ContctInfo{
    
    font-weight: bold;
    position: relative;
    height: 150px;
    padding: 10px;
   
}
#scl>a{
    margin-right: 30px;
}
iframe{
    position: absolute;
    right: 6%;
    width: 270px;
    height: 170px;
}
#eml{
    margin-left: 10px;
    font-size: 25px;
}
#resume>button{
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    height: 50px;
    width: 200px;
}


#scl{
    position: absolute;
    left:40%;
    bottom: 10%;
}
.fa-facebook{
    color:rgb(59, 89, 152);

}

.fa-instagram{
    color: #ff3489;

}
.fa-twitter{
    color:rgb(0, 172, 238);

}
.fa-linkedin{
    color:rgb(14, 118, 168);

}
.fa-github{
    color:white;

}

i{
    font-size: 40px;

}

/* MEDIA CONTROL STARTS FROM HERE*/
@media screen and (max-width:1200px)
{
    #Copyryt{
        font-size: 19px;
        height: 38px;
    }
    iframe{
        position: absolute;
        right: 5%;
        width: 250px;
        height: 160px;
    }
    #scl{
        position: absolute;
        left:36%;
        bottom: 10%;
    }
    #eml{
        font-size: 21px;
    }
    #resume>button{
        cursor: pointer;
        font-size: 18px;
        height: 47px;
        width: 180px;
    }
    
    i{
        font-size: 36px;
    }
     
}


@media screen and (max-width:1050px)
{
    #Copyryt{
        font-size: 18px;
        height: 35px;
    }
    iframe{
        position: absolute;
        right: 3%;
        width: 200px;
        height: 120px;
    }
    #scl{
        position: absolute;
        left:36%;
        bottom: 10%;
    }
    #eml{
        font-size: 19px;
    }
    #resume>button{
        cursor: pointer;
        font-size: 16px;
        height: 42px;
        width: 160px;
    }
    
    i{
        font-size: 32px;
    }
     
}


@media screen and (max-width:900px)
{
    #Copyryt{
        font-size: 15px;
        height: 30px;
    }
    iframe{
        position: absolute;
        right: 3%;
        bottom: 40%;
        width: 200px;
        height: 120px;
    }
    #scl{
        position: absolute;
        left:32%;
        bottom: 10%;
    }
    #eml{
        font-size: 17px;
    }
    #resume>button{
        cursor: pointer;
        font-size: 14px;
        height: 40px;
        width: 140px;
    }
    
    i{
        font-size: 30px;
    }
    #scl>a{
        margin-right: 25px;
    }
     
}


@media screen and (max-width:620px)
{
    #Copyryt{
        font-size: 12px;
        height: 25px;
    }
    iframe{
        position: absolute;
        right: 3%;
        bottom: 40%;
        width: 160px;
        height: 100px;
    }
    #scl{
        position: absolute;
        left:28%;
        bottom: 10%;
    }
    #eml{
        font-size: 15px;
    }
    #resume>button{
        cursor: pointer;
        font-size: 11px;
        height: 38px;
        width: 120px;
    }
    
    i{
        font-size: 25px;
    }
    #scl>a{
        margin-right: 20px;
    }
     
}